
*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url("cofee.jpg");
    background-size: 100% 740px;
}

.contain{
    width: 300px;
    height: 400px;
    background-color: black;
    margin-left: 36%;
    margin-top: 10%;
    text-align: center;
    color: white;

}
.contain h1{
    font-size: 36px;
    color: aqua;
}
.contain .text{
 position: relative;
 top: 7%;
}
.inp1{
    border: none;
    background-color: black;
    border-bottom: 3px solid white;
    width: 250px;
    font-size: 18px;
    margin-top: 40px;
    outline: none;
    color: white;
}
.text button{
   width: 200px;
   height: 30px;
    background-color: aqua;
    color: black;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
   cursor: pointer;
}
button:hover{
    border: 3px solid aqua;
    color: white;
    font-size: 25px;
    background-color: black;
}
p{
    margin-top: 30px;
    font-size: 20px;
}
p span{
    color: aqua;
    cursor: pointer;
}
